@import '../../styles/_typography.styl'
@import '../../styles/_mixins.styl'

.invoice-container
    padding .5rem 1.2rem 10rem

    .header-cont
        display inline-block
        width 100%
        position relative
        margin-bottom .5rem
        min-height 4.8rem

    .header
        font-size 3.2rem
        text-align center
        margin 1rem 0 0 1rem
        vertical-align top
        width 100%

    .invoice-btn-cont
        position absolute
        right 1rem
        top 1rem

    .save-invoice
    .preview-invoice
        display inline-block

    .preview-invoice
        margin-right 1.5rem
        background-color #b32b2b


    .goto-home
        position absolute
        left 1rem
        top 1rem
        background-color red

    .logo-placeholder
        display inline-block
        width 20rem
        height 20rem
        background-color #f5f5f5
        border: 1px solid rgba(0, 0, 0, .1)
        margin-left 1rem
        position relative
        text-align center
        cursor pointer

        .upload-btn-text
            position absolute
            left 50%
            top 50%
            font-family droid
            font-size 1.7rem
            color #777
            translateXY -50% -50%

        &:hover
            background-color #efefef

        .img-cont
            position relative
            width 100%
            height 100%

        .logo
            position absolute
            z-index 1
            left 50%
            top 50%
            translateXY -50% -50%

         .cls-btn
             position absolute
             top .5rem
             right .5rem
             z-index 10

        .logo-upload-btn
            position absolute
            z-index -999
            opacity 0


.invoice-form
    margin-top .8rem
    .col1, .col2
        display inline-block
        vertical-align top
        width 50%
        box-sizing border-box

.invoice-info-header
    .row
        width 100%

.invoice-entries
    margin 1.6rem 0;
    padding 0 0.8rem

.invoice-tool-bar
    position fixed
    bottom 0
    left 0
    right 0
    background-color #fff
    z-index 1111

    .invoice-tool-bar-cont
        display inline-block
        text-align center
        width 100%
        padding 1.5rem 0
        box-shadow -.1rem .2rem .6rem #000

        .button
            padding 1.2rem 1.7rem
            display inline-block
            margin 0 1rem

        .download-invoice
            background-color red


@media (max-width: 676px)
    .invoice-form
        .col1
        .col2
            width 100%

@media (max-width: 480px)
    .invoice-container
        .goto-home
            position relative
            display inline-block

        .invoice-btn-cont
            text-align right
            position relative
            display inline-block
            width 100%
            margin-top .8rem

    .invoice-tool-bar
        .invoice-tool-bar-cont
            .button
                margin 0 .4rem
