.entries-table
    width 100%;
    margin 1.5rem 0;
    display inline-block;

    .td
        padding-left 0

    .col-item
        width 55%

    .col-quantity, .col-rate
        width 14%

    .col-amount
        width 17%

    .amount
        display inline-block
        font-size 1.5rem
        padding 1rem
        line-height 1.5
        font-family droid
        color textcolor

    .entries
        margin-bottom 1.3rem
        &.hide-cls-btn
            .cls-btn
                display none

    .add-item
        float right

    .cls-btn
        position absolute
        right 1rem
        top 50%
        margin-top -.9rem

.invoice-amount-info
    float right
    width 100%;
    max-width 30rem

    .col1, .col2
        width 50%
        display inline-block
        vertical-align top
        padding 0 .8rem
        text-align right

    .table-row
        margin-bottom 1.2rem

    label, .currency-cont
        font-size 1.5rem
        color textcolor
        line-height  2.6
        padding-right 1.2rem
