form
    width 100%

.field-grp
    width 100%;
    padding 1.2rem 0.8rem;

.react-datepicker__input-container
    width 100%

input[type=text],
input[type=date],
input[type=email],
input[type=number]
    width 100%
    padding 1rem 1.1rem
    font-size 1.4rem
    font-family droid
    border-radius .4rem
    outline none
    border .25rem solid #eee
    color textcolor

input[type=date]
    padding 0.75rem 1.1rem

input[type=number]::-webkit-inner-spin-button
    -webkit-appearance none

textarea
    width 100%
    padding 1rem 1.1rem
    color textcolor
    border .25rem solid #eee
    font-size 1.4rem
    height 9rem

