.invoice-container
    padding .5rem 1.2rem

    .header-cont
        display inline-block
        width 100%
        position relative
        margin-bottom 2rem

    .header
        font-size 2.8rem
        text-align center
        margin 1rem 0 0 1rem
        vertical-align top
        width 100%

    .save-invoice
        position absolute
        right 1rem
        top 1rem
        // margin 1rem 1rem 0 0

    .goto-home
        position absolute
        left 1rem
        top 1rem
        background-color red

.invoice-form
    margin-top .8rem
    .col1, .col2
        display inline-block
        vertical-align top
        width 50%
        box-sizing border-box

.invoice-info-header
    .row
        width 100%



.invoice-entries
    margin 1.6rem 0;
    padding 0 0.8rem
