.list-container
    box-sizing border-box
    width 100%
    padding .5rem 1.2rem

    .list-header
        color #444
        margin-top 1.8rem
        font-size 2rem
        display inline-block
        vertical-align top

    .new-invoice
        float right
        margin-top 1.3rem

    .invoice-list-table
        display inline-block
        width 100%
        margin 1rem 0 1rem

        .th, .td
            width 20%

        .td
            color textcolor
