.list-container
    box-sizing border-box
    width 100%
    padding .5rem 1.2rem

    .list-header
        color #444
        margin-top 1.8rem
        font-size 2rem
        display inline-block
        vertical-align top

    .new-invoice
        float right
        margin-top 1.3rem

    .responsive-invoice-list-table
        display none

    .invoice-list-table
        display inline-block
        width 100%
        margin 1rem 0 1rem

        .th, .td
            width 20%

        .td
            color textcolor

@media (max-width: 767px)
    .list-container
        .invoice-list-table
            .col-status
            .col-due-date
                display none
            .th
            .td
                width 33.3%

@media (max-width: 600px)
    .list-container
        .invoice-list-table
            .col-date
            .col-action
                display none


            .col-no
                width 100%
