@import '_mixins.styl'
@import '_normalize.styl'
@import '_typography.styl'
@import '_form.styl'
@import '../../node_modules/react-datepicker/dist/react-datepicker.css'
@import '_calendar_reskinning.styl'

body
    background-color offwhite
    font-family droid

.overlay
    display none
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    z-index 100
    background-color rgba(255, 255, 255, 0.7)

.overlay-open
    .overlay
        display block

    .overlay-cls-btn
        display block

.popup
    display none
    position absolute
    z-index 110
    left 50%
    top 7rem
    translateXY -50% 0

    .overlay-cls-btn
        position absolute
        right 1.3rem
        top 1.3rem
        width 2.8rem
        height 2.8rem
        font-size 1.5rem
        line-height 2.6rem
        z-index 1

    &.show-popup
        display block

        .overlay-cls-btn
            display block

    .popup-container
        position relative

    .popup-data
        border-radius .3rem
        background-color white
        box-shadow 0 0 5rem .11rem rgba(0, 0, 0, .7)

.site-title
  font-family lobster
  text-align center
  font-weight 100
  font-size 13rem
  margin 2rem 0
  letter-spacing -1px
  text-shadow 0px 4px 0 rgba(18, 86, 136, 0.11)
  color blue
  a
    color blue
    text-decoration none
    &:focus
      outline 0

.rtl
    text-align right

.container
    clearfix
    width 100%
    max-width 100rem
    padding 0 2rem
    box-sizing border-box
    margin 0 auto

    .main-content
        background-color #fff
        width 100%
        border-radius .4rem

.button
    padding 1rem 1.5rem
    background-color blue
    color white
    font-family droid
    font-size 1.3rem
    border-radius .4rem
    text-decoration none
    border none

 .table-row, .table-header
    background-color #353940
    border-radius .4rem
    display inline-block
    width 100%

    .th, .td
        display inline-block
        vertical-align top
        padding 1rem
        font-family droid
        font-size 1.5rem
        line-height 1.5
        color #fff

.table-row
    background-color transparent
    position relative

.cls-btn
    text-decoration none
    display inline-block
    vertical-align center
    background-color blue
    color #fff
    font-family droid
    font-size 1rem
    line-height 1.8
    text-align center
    border-radius 100rem
    width 1.8rem
    height 1.8rem

@import '_invoice.styl'
@import '_entries.styl'
@import '_list.styl'
@import '_invoice_preview.styl'
