@import '../../styles/_typography.styl'
@import '../../styles/_mixins.styl'

.overlay
    display none
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    z-index 100
    background-color rgba(255, 255, 255, 0.7)

.overlay-open
    .overlay
        display block

    .overlay-cls-btn
        display block

.popup
    display none
    position absolute
    z-index 110
    left 50%
    top 7rem
    translateXY -50% 0

    .overlay-cls-btn
        position absolute
        right 1.3rem
        top 1.3rem
        width 2.8rem
        height 2.8rem
        font-size 1.5rem
        line-height 2.6rem
        z-index 1

    &.show-popup
        display block

        .overlay-cls-btn
            display block

    .popup-container
        position relative

    .popup-data
        border-radius .3rem
        background-color white
        box-shadow 0 0 5rem .11rem rgba(0, 0, 0, .7)
