@import '../../styles/_typography.styl'
@import '../../styles/_mixins.styl'

.notification-cont
    display none
    position fixed
    top 0
    left 50%
    z-index 101
    translateXY(-50%, 0)
    &.show
        display block
    .notification
        padding .7rem 2.2rem
        background-color #ffffb5

    p
        margin-bottom 0
        font-size 1.3rem
        letter-spacing .07rem
        line-height 2.2rem

@media (max-width: 767px)
    .notification-cont
        width 100%
        text-align center

        p
            font-size 1.2rem
            line-height 1.9rem

